
                <main>
                    <section class="ensembleinstruments">
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./public/assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                                <li><input type="button" value="ajouter à panier"></li><!-- retravailler pour php-->
                            </ul>
                        </article>
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./public/assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                                <li><input type="button" value="ajouter à panier"></li><!-- retravailler pour php-->
                            </ul>
                        </article>
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./public/assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                            </ul>
                        </article>
                    </section>
                </main>
               