<!doctype html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>boutique symphony-account</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./assets/css/styles.css">
            <link rel="icon" href="./assets/img/note.ico" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=League+Gothic&family=Merienda&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
        </head>
        <body>
            <div class="container">
                <header>
                    <div class="laboutiquedesktop">
                        <div class="socity">
                            <img src="./assets/img/logo.jpeg" alt="image du titre"/>
                            <h1>Simphony</h1>
                        </div>
                        <ul class="menuheader">
                            <li><a href="./index.php?url=home"><strong>Accueil</strong></a></li>
                            <li><a href="./index.php?url=login"><strong>Se connecter</strong></a></li>
                            <li><a href="./index.php?url=register"><strong>Enregistrer</strong></a></li>
                            <li><a href="./index.php?url=shop"><strong>Nos intruments</strong></a></li>
                            <li><a href="./index.php?url=basket"><strong>Panier</strong></a></li>
                        </ul>
                    </div>    
                    <div class="mobile">
                        <ul class="mobilemenu">
                            <h1>Simphony</h1>
                            <li><a href="./index.php?url=home"><strong>Accueil</strong></a></li>
                            <li><a href="./index.php?url=login"><strong>Se connecter</strong></a></li>
                            <li><a href="./index.php?url=register"><strong>Enregistrer</strong></a></li>
                            <li><a href="./index.php?url=shop"><strong>Nos intruments</strong></a></li>
                            <li><a href="./index.php?url=basket"><strong>Panier</strong></a></li>
                        </ul>
                    </div>
            </header>
                <main>
                    <section class="ensembleinstruments">
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                                <li><input type="button" value="ajouter à panier"></li><!-- retravailler pour php-->
                            </ul>
                        </article>
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                                <li><input type="button" value="ajouter à panier"></li><!-- retravailler pour php-->
                            </ul>
                        </article>
                        <article class="instrument"> <!-- classe provisoire a retravailler-->
                            <img src="./assets/img/guitare.jpeg" alt=""/>
                            <ul>
                                <li><h3>Guitare</h3></li>
                                <li><strong>description :</strong> guitare qui retranscrit l'esprit de the last of US 2 , un incontournable pour les collectionneurs</p></li>
                            </ul>
                        </article>
                    </section>
                </main>
                <footer>
                    <section class="infos">
                        <h3>NOUS CONTACTER</h3>
                        <p>Rue des pommiers 49612 angers</p>
                        <p>symphony@gmail.com</p>
                        <p>07 76 78 98 34</p>
                    </section>
                    <section class="reseaux">
                        <h3>RESEAUX SOCIAUX</h3>
                        <a href="comptefacebook"><i class="fa-brands fa-facebook"></i></a>
                        <a href="comptetwitter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="compteinstagram"><i class="fa-brands fa-instagram"></i></a>
                    </section>
                    <section class="fournisseurs">
                        <h3>FOURNISSEURS</h3>
                            <p>Yamaha</p>
                            <p>Gibson</p>
                            <p>Pearl</p>
                    </section>
                </footer>
            </div>    
        </body>
    </html>    